<div class="dashboard bg-dark text-light min-vh-100 d-flex flex-column justify-content-between p-4">


  <!-- HEADER -->
  <div id="header" class="d-flex justify-content-between align-items-start mb-4">

    <!-- Logo y botón de volver a la izquierda -->
    <div class="d-flex align-items-baseline gap-2">
      <div class="logo fw-bold fs-4 text-accent-red" (click)="logoClick()"></div>
      <button type="button" class="btn btn-outline-warning" [routerLink]="['/dashboard-entrenador']">Volver</button>
    </div>

    <!-- Panel de entrenador a la derecha -->
    <div class="d-flex flex-column align-items-end">
      <h2 class="mb-2">Panel de {{ nombreEntrenador }}</h2>
      <button class="btn btn-outline-danger">Editar perfil de entrenador</button>
    </div>

  </div>


  <!-- FORMULARIO NUEVO ATLETA -->
  <form class="custom-panel w-50 align-self-center" (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <div class="d-flex justify-content-between">
    <h3 class="mb-4">Modificar Atleta</h3> <button class="btn btn-outline-warning" [routerLink]="['/progreso',this.clienteId]">Visualizar graficos de progreso</button>
    </div>
        <div class="mb-3">
      <label for="foto" class="form-label">Foto de perfil</label>
      <input id="foto" class="form-control" type="file" (change)="onFileChange($event)" accept="image/*">
    </div>
    <div class="img-container mx-auto mb-2">
        <img [src]="this.atletaAct.fotoURL" alt="Imagen entrenador" class="profile-img img-fluid rounded">
      </div>

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input id="nombre" class="form-control" type="text" [(ngModel)]="atletaAct.nombre" name="nombre" required>
    </div>

    <div class="mb-3">
      <label for="contrasenya" class="form-label">Nueva contraseña</label>
      <input id="contrasenya" class="form-control" type="password" [(ngModel)]="atletaAct.password" name="contrasenya"
        required>
    </div>

    <div class="mb-3">
      <label for="correo" class="form-label">Correo electrónico</label>
      <input id="correo" class="form-control" type="email" [(ngModel)]="atletaAct.email" name="correo" required>
    </div>

    <div class="mb-3">
      <label for="peso" class="form-label">Peso (kg)</label>
      <input id="peso" class="form-control" type="number" [(ngModel)]="atletaAct.peso" name="peso" step="0.1" required>
    </div>

    <div class="mb-3">
      <label for="altura" class="form-label">Altura (cm)</label>
      <input id="altura" class="form-control" type="number" [(ngModel)]="atletaAct.altura" name="altura" step="0.1"
        required>
    </div>

    <button type="submit" class="btn btn-outline-warning w-100">Guardar Atleta</button>
    <button class="btn btn-danger w-100 mt-2" type="button" (click)="abrirModal()"><i class="fa-regular fa-trash-can">Eliminar
        atleta</i></button>
  </form>

  <!-- FOOTER -->
  <div id="footer" class="text-center p-3 mt-5">
    <p id="fraseEstoica" class="fst-italic text-gray" [@fadeInOut]="visible">
      "{{ quote }}", {{ author }}
    </p>
    <button class="btn btn-outline-danger" (click)="fetchQuote()">Obtener otra</button>
  </div>
</div>


<!-- Modal de Confirmación -->
<div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel" style="color: black;">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: black;">
        <p>¿Estás seguro de que quieres eliminar al atleta
          <strong>{{atletaAct.nombre}}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmarEliminacion()">Eliminar</button>
      </div>
    </div>
  </div>
</div>