<div class="dashboard bg-dark text-light min-vh-100 d-flex flex-column justify-content-between">
  <!-- HEADER -->
  <div id="header" class="d-flex justify-content-between align-items-start p-4">
    <div class="logo fw-bold fs-4 text-accent-red"></div>
    <div class="d-flex flex-column align-items-end">
      <h2 class="mb-2">Panel de {{ nombreEntrenador }}</h2>
      <!--app-cliente class="btn btn-outline-danger" [routerLink]="['/perfil-administrador']">Editar perfil de
        administrador</button>-->
    </div>
  </div>
  <!-- Filtro por nombre -->
  <div class="px-4 mb-3 d-flex justify-content-between" style="width: 50%;">
    <button class="btn btn-outline-danger" [routerLink]="['/login']">Cerrar sesión</button>
    <input type="text" [(ngModel)]="filtroNombre" class="form-control bg-dark text-light border-secondary"
      placeholder="Buscar entrenador por nombre..." (change)="filtrarEntrenadores()" style="width: 65%;">
    <button class="btn btn-outline-warning" [routerLink]="['/new-entrenador']">Agregar Entrenador</button>

  </div>
  <!-- BODY -->
  <div class="stats px-4">
    <h3 class="mb-4">Entrenadores:</h3>
    <div id="cards" class="row row-cols-1 row-cols-md-4 g-3">
      <div class="col" *ngFor="let entrenador of entrenadoresFiltrados">
        <div class="card h-50 bg-card border-0 text-light animate-card-hover">
          <div class="card-body">
            <h5 class="card-title text-accent-red">{{ entrenador.nombre }}</h5>
            <p class="card-text">Experiencia: {{ entrenador.experiencia }}</p>
            <p class="card-text">Especialidad {{ entrenador.especialidad }}</p>
            <p class="card-text">Habilitado: {{ entrenador.ishabilitado }}</p>
            <p class="card-text">usuario_id: {{ entrenador.usuario_id }}</p>
            <button class="btn btn-danger w-100 mt-2" [routerLink]="['/mod-entrenador',entrenador.usuario_id]">Gestionar
              entrenador</button>
            <!--<button class="btn btn-outline-warning w-100 mt-2"
              [routerLink]="['/rutina-entrenamiento',entrenador.usuario_id]">Editar Entrenamiento</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="text-center p-3 mt-4">
    <p id="fraseEstoica" class="fst-italic text-gray" [@fadeInOut]="visible">
      "{{ quote }}", {{ author }}
    </p>

    <button class="btn btn-outline-danger" (click)="fetchQuote()">Obtener otra</button>
  </footer>
</div>