.logo{
background-image: url('/assets/logoGA(sinFondo).png');
background-size: contain;
background-repeat: no-repeat;
height: 15vh;
width: 15vh;
}
.logo:hover{
  cursor: pointer;
}
.dashboard {
  background-image: url('/assets/logoGA(BackGround)4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767.98px) {
  .form-responsive {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .form-responsive {
    width: 50% !important;
  }
}
